@import '../../scss/index';

.categories {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 10px 10px 0;
  }
  &__button {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    @include noselect();
    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }
    &:active {
      background-color: darken(#f9f9f9, 5%);
    }
    &--active {
      background-color: #282828;
      color: $white;
      &:hover,
      &:active {
        background-color: lighten($color: $mine-shaft, $amount: 10);
      }
    }
  }
}
