@import '../../scss/index';

.header {
  border-bottom: 1px solid $alabaster;
  padding: 40px 0;

  &__logo {
    display: flex;
    margin-bottom: 10px;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: $boulder;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    margin-left: auto;
    line-height: 23px;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }
  }
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
